/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* GENERAL */

img {
  max-width: 100%;
  height: auto;
  display: block;
  object-fit: cover;
  margin: auto;
}

body {
  box-sizing: border-box;
  font-family: Notosans TW, sans-serif;
  /* padding: 0 32px; */
}

.title--h3 {
  font-size: 48px;
  line-height: 72px;
  font-weight: 800;
  color: #650300;
  text-align: center;
  @media (max-width: 767px) {
    font-size: 24px;
    line-height: 36px;
  }
}

.title--h4 {
  font-size: 48px;
  line-height: 72px;
  color: #aa0601;
  text-align: center;
  text-transform: uppercase;
  @media (max-width: 367px) {
    font-size: 36px;
    line-height: 48px;
  }
}

.container {
  max-width: 1296px;
  margin: 0 auto;
}

.p-36 {
  padding: 36px;
}

.p-48 {
  padding: 48px;
}

.mt-80 {
  margin-top: 80px;
}

.mb-48 {
  margin-bottom: 48px;
}

.mb-24 {
  margin-bottom: 24px;
}

.mb-8 {
  margin-bottom: 8px;
}

/* NAVIGATION */
.navigation {
  background-color: #aa0601;
  @media (max-width: 1296px) {
    padding: 0 36px;
  }
  @media (max-width: 767px) {
    padding: 0;
  }
}

.navigation__container {
  display: flex;
  justify-content: space-between;
  align-items: center;

  @media (max-width: 767px) {
    display: block;
  }
}

.navigation__logo {
  height: 48.75px;
  padding: 16px 0 16px 0px;
  @media (max-width: 1296px) {
    text-align: left;
    margin: 0;
  }
  @media (max-width: 767px) {
    padding: 16px 32px;
  }
}

.navigation__list {
  display: flex;
  justify-content: flex-end;
  gap: 64px;
  flex-wrap: wrap;
  width: 100%;
  /* background-color: #007bff; */
  @media (max-width: 767px) {
    gap: 0;
    justify-content: center;
  }
}

.navigation__item {
  /* background-color: green; */
  width: 7%;

  @media (max-width: 1296px) {
    width: 13.1%;
  }

  @media (max-width: 767px) {
    width: 49.4%;

    border: 1px solid #fff;
  }
}

.navigation__link {
  display: block;
  font-size: 20px;
  line-height: 30px;
  color: #fff;
  text-decoration: none;

  @media (max-width: 767px) {
    padding: 12px;
    text-align: center;
  }
}

.navigation__link:hover,
.navigation__link:active {
  color: #650300;
}

/* HEADER */
.header {
  background-image: url("https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/home-header.png?raw=true");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  height: auto;
  padding: 296px 0;

  @media (max-width: 1296px) {
    background-image: url("https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/home-header-sm.png?raw=true");
    padding: 296px 32px;
  }

  @media (max-width: 767px) {
    padding: 144px 13px;
    /* 
    background-size: 100% 100%; */
  }
}

.header__titlebox {
  margin: 0 auto;
  text-align: right;
}

.header__title {
  font-size: 36px;
  line-height: 54px;
  color: #650300;

  @media (max-width: 767px) {
    font-size: 16px;
    line-height: 24px;
  }
}

.header__subtitle {
  font-size: 64px;
  line-height: 96px;
  color: #650300;
  margin-bottom: 4px;
  font-weight: 700;
  @media (max-width: 767px) {
    font-size: 24px;
    line-height: 36px;
  }
}

.header__button {
  font-size: 20px;
  line-height: 30px;
  color: #fff;
  background-color: #aa0601;
  padding: 6px 12px;
}

.header__button:hover {
  background-color: #650300;
  transform: translateY(-2px);
}

.header__button:active {
  transform: translateY(2px);
}

/*FEATURES*/

.features {
  background-color: #fbf2f2;
}

.features__title {
  margin-bottom: 32.3px;
}

.features__list {
  display: flex;
  justify-content: space-between;
  gap: 24px;
  flex-wrap: wrap;
}

.features__item {
  width: 23%;

  @media (max-width: 1296px) {
    width: 48%;
  }
  @media (max-width: 767px) {
    width: 100%;
  }
}

.features__item__title {
  font-size: 24px;
  line-height: 36px;
  font-weight: 700;
  color: #650300;
  text-align: center;
  margin-bottom: 8px;
}
.features__item__content {
  line-height: 24px;
}

/* CLASSIC */

.classic {
  @media (max-width: 1296px) {
    padding: 0 36px;
  }
  @media (max-width: 767px) {
    padding: 0 13px;
  }
}

.classic__list {
  display: flex;
  justify-content: space-between;
  gap: 24px;

  @media (max-width: 1296px) {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

.classic__item {
  width: 32%;
  @media (max-width: 1296px) {
    width: 50%;
  }
  @media (max-width: 767px) {
    width: 100%;
  }
}

/* COBRANDING */

.cobranding {
  background-image: url("https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/index-bg.png?raw=true");
  background-size: cover;
  padding: 80px 0;

  @media (max-width: 1296px) {
    padding: 80px 36px;
  }

  @media (max-width: 767px) {
    padding: 80px 13px;
  }
}

.cobranding__title {
  color: #fff;
  font-weight: 700;
  margin-bottom: 48px;
}

.cobranding__list {
  display: flex;
  align-items: flex-start;
  list-style: none;

  @media (max-width: 1296px) {
    flex-direction: column;
    align-items: center;
    /* padding: 0 36px; */
  }
}

.cobranding__item {
  width: 50%;

  @media (max-width: 1296px) {
    width: 100%;
    margin-bottom: 24px;
  }
}

.cobranding__h4 {
  background-color: #fff;
  padding: 8px 0px;
}

.border-right-1px {
  border-right: 1px solid rgba(128, 128, 128, 0.247);
}

/* RECOMMEND */

.recommend {
  @media (max-width: 1296px) {
    padding: 0 36px;
  }

  @media (max-width: 767px) {
    padding: 0 13px;
  }
}

.recommend__list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 24px;
  margin-top: 48px;

  @media (max-width: 767px) {
    margin-top: 24px;
  }
}

.recommend__item {
  box-shadow: 0px 2px 6px #00000029;
  width: 23.6%;

  @media (max-width: 1630px) {
    width: 48%;
  }
  @media (max-width: 767px) {
    width: 100%;
  }
}

.recommend__content {
  padding: 16px;
}

.recommend__name {
  line-height: 24px;
  padding-bottom: 8px;
}

.recommend__paragraph {
  line-height: 24px;
  padding-bottom: 72px;
}

.recommend__date {
  font-size: 14px;
  line-height: 21px;
  color: #707070;
}

/*CONTACT */

.contact {
  background-color: #fbf2f2;
  padding: 80px 0px;

  @media (max-width: 767px) {
    padding: 40px 13px;
  }
}

.contact__container {
  max-width: 636px;
  margin: 0 auto;
}

.contact__paragraph {
  font-size: 20px;
  line-height: 30px;
  margin-top: 48px;
  margin-bottom: 24px;

  @media (max-width: 767px) {
    font-size: 16px;
    line-height: 24px;
    margin-top: 24px;
  }
}

.contact__form__label {
  padding-bottom: 14px;
  display: block;
  cursor: pointer;
}

.contact__form__input {
  display: block;
  margin-bottom: 16px;
  width: 100%;
  border: 1px solid #000000;
  padding: 6px 0px;
}

.contact__form__textarea {
  display: block;
  margin-bottom: 16px;
  width: 100%;
  /* padding: 6px 0px 0px 12px; */
}

.contact__form__input::placeholder {
  display: block;
  line-height: 24px;
  padding-left: 12px;
  opacity: 0.2;
}

.contact__form__textarea::placeholder {
  display: block;
  padding-left: 12px;
  line-height: 24px;
  opacity: 0.2;
}

.contact__form__input:focus,
.contact__form__textarea:focus {
  outline: none;
  border: 2px solid greenyellow;
}

.contact__form__input:focus:invalid,
.contact__form__textarea:focus:invalid {
  outline: none;
  border: 2px solid red;
}

.contact__checkbox__container {
  display: flex;
  align-items: center;
  margin-bottom: 16px;
}

.contact__form__label--checkbox {
  display: block;
  line-height: 24px;
  cursor: pointer;
}

.contact__form__checkbox {
  width: 24px;
  height: 24px;
  border-radius: 4px;
  outline: none;
  cursor: pointer;
}

.contact__form__checkbox::before {
  content: "";
  display: inline-block;
  width: 100%;
  height: 100%;
  border-radius: 4px;
}

.contact__form__checkbox:checked::before {
  background-color: #007bff; /* Change the background color for the checked checkbox */
  border-color: #007bff; /* Change the border color for the checked checkbox */
}

.button__container {
  text-align: center;
  margin-top: 48px;
  @media (max-width: 767px) {
    margin-top: 24px;
  }
}

.contact__form__button,
.contact__form__button:link,
.contact__form__button:visited {
  line-height: 24px;
  color: #fff;
  font-weight: 700;
  background-color: #aa0601;
  padding: 16px 172px;
  cursor: pointer;
  margin: 0 auto;

  @media (max-width: 767px) {
    padding: 16px 0px;
    width: 100%;
  }
}

.contact__form__button:hover {
  background-color: #650300;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.contact__form__button:active {
  transform: translateY(5px);
}

/* FOOTER */

.footer {
  background-color: #aa0601;

  @media (max-width: 1296px) {
    padding: 0 36px;
  }

  @media (max-width: 767px) {
    padding: 0 13px;
  }
}

.footer__container {
  padding: 60px 0px 32px 0px;
  @media (max-width: 767px) {
    padding: 24px 0px;
  }
}

.footer__upper {
  border-bottom: 2px solid #fff;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.footer__linkList {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 48px;
  margin-bottom: 36px;

  @media (max-width: 767px) {
    display: none;
  }
}

.footer__link {
  display: block;
  line-height: 24px;
  color: #fff;
  text-decoration: none;
}

.footer__link:hover,
.footer__link:active {
  color: #650300;
}

.footer__info {
  padding-bottom: 32px;
  @media (max-width: 767px) {
    padding-bottom: 28px;
  }
}

.footer__info__item {
  display: flex;
}

.footer__info__icon--phone {
  height: 40px;
  margin-right: 12px;
  margin-left: 0;
  color: white;
  @media (max-width: 767px) {
    height: 18px;
    margin-right: 11px;
  }
}

.footer__info__icon--email {
  height: 40px;
  margin-right: 20px;
  margin-left: 0;
  @media (max-width: 767px) {
    height: 16px;
    margin-right: 11px;
  }
}

.footer__info__paragraph {
  font-size: 36px;
  line-height: 54px;
  color: white;
  @media (max-width: 767px) {
    font-size: 16px;
    line-height: 24px;
  }
}

.footer__upper-right {
  display: flex;
  justify-content: space-between;
  gap: 32px;
  @media (max-width: 767px) {
    gap: 8px;
  }
}

.footer__upper-right__icon {
  height: 48px;
  @media (max-width: 767px) {
    height: 24px;
  }
}

.footer__lower {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 32px;

  @media (max-width: 767px) {
    display: block;
    gap: 8px;
    padding-top: 16px;
  }
}

.footer__lower__paragraph {
  color: #fff;
  line-height: 24px;
}

.footer__lower__link__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 48px;
  @media (max-width: 767px) {
    display: block;
    gap: 8px;
  }
}

.footer__lower__link {
  display: block;
  text-align: right;
  color: #fff;
  line-height: 24px;
  @media (max-width: 767px) {
    text-align: left;
  }
}
.footer__lower__link:hover,
.footer__lower__link:active {
  color: #650300;
}

/* * {
  border: 0.2px solid red !important;
} */
